/* You can add global styles to this file, and also import other style files */
@import '~mapbox-gl/dist/mapbox-gl.css';

body {
  margin-bottom: 100px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0px;
}

#chat-messages {
  height: 300px;
  border: 1px solid gray;
  border-radius: 5px;
  overflow-y: scroll;
}

.chat-input {
  margin-top: 10px;
}

table {
  width: 100%;
  height: 100%;
  text-align: center;
}

.ticket-actual {
  background-color: #282828;
}

.ticket-actual-number {
  font-size: 80px;
}

.ticket-actual-desktop {
  font-size: 45px;
}

.ticket-secondary {
  font-size: 25px;
}


/* Nuevo-ticket */

#lblNewTicket {
  font-size: 70px;
}
